# see https://symfony.com/doc/current/reference/configuration/framework.html
framework:
    trusted_proxies: '192.0.0.1,10.0.0.0/8'
    trusted_headers: [ 'x-forwarded-for', 'x-forwarded-host', 'x-forwarded-proto', 'x-forwarded-port', 'x-forwarded-prefix' ]

    secret: '%env(APP_SECRET)%'
    csrf_protection: true
    http_method_override: true
    error_controller: Surfnet\AzureMfa\Infrastructure\Controller\ExceptionController::show
    # Enables session support. Note that the session will ONLY be started if you read or write from it.
    # Remove or comment this section to explicitly disable session support.
    session:
        handler_id: null
        cookie_secure: auto
        # SameSite is set to none. As we must allow receiving a session cookie from the (trusted)
        # remote Azure MFA IdP's
        cookie_samesite: 'none'
    assets:
        json_manifest_path: '%kernel.project_dir%/public/build/manifest.json'
    esi: false
    fragments: false
    php_errors:
        log: false
    router:
        strict_requirements: null
        utf8: true
    default_locale: en_GB
    translator:
        default_path: '%kernel.project_dir%/translations'
        fallbacks:
            - en_GB
    validation:
        email_validation_mode: html5
imports:
    - { resource: ../openconext/*.yaml }

when@dev:
    framework:
        router:
            strict_requirements: true
        profiler: { only_exceptions: false }
    imports:
        - { resource: ../services_dev.yaml }


when@test:
    framework:
        error_controller: Surfnet\AzureMfa\Infrastructure\Controller\ExceptionController::show
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file
        profiler:
            collect: false
        router:
            strict_requirements: true
        validation:
            not_compromised_password: false
