parameters:
    app_env: test
    app_debug: false
    app_secret: secret@example.com

    support_url:
        en_GB: "https://support.example.org/faq-strong-authentication"
        nl_NL: "https://support.example.org/faq-sterke-authenticatie"
    support_email: support@support.nl
    locales:
        - nl_NL
        - en_GB
    default_locale: en_GB


    saml_idp_publickey: '/config/azuremfa/azuremfa_idp.crt'
    saml_idp_privatekey: '/config/azuremfa/azuremfa_idp.key'
    saml_metadata_publickey: '/config/azuremfa/azuremfa_idp.crt'
    saml_metadata_privatekey: '/config/azuremfa/azuremfa_idp.key'
    saml_remote_sp_entity_id: 'https://gateway.dev.openconext.local/gssp/azuremfa/metadata'
    saml_remote_sp_certificate: '/config/gateway/gateway_gssp_sp.crt'
    saml_remote_sp_acs: 'https://gateway.dev.openconext.local/gssp/azuremfa/consume-assertion'
# Authentication issuers matching this regex will send ForceAuthn to the Azure MFA. The at sign is used as delimiter, be sure to escape the first sign as Symfony would see it as a reference to a service.
    ra_issuer_entity_id_regex: '@@^https://(?:[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?\.)+[a-z0-9][a-z0-9-]{0,61}[a-z0-9]/vetting-procedure/gssf/azuremfa/metadata$@'
