{% extends 'base.html.twig' %}

{% block title %}
    {{ 'page.registration.title'|trans }}
{% endblock %}

{% block body %}
    <h2>{{ 'page.registration.sub_title'|trans }}</h2>

    {% if not requiresRegistration %}
        <div class="alert alert-warning">
            {{ 'page.registration.requires_registration'|trans }}
        </div>
    {% endif %}

    {{ form(form) }}
{% endblock %}
