{% extends 'base.html.twig' %}

{% block title %}Select response{% endblock %}

{% block body %}
    <h2>Select response</h2>
    <form method="post" action="{{ action }}">

        <h3blue>Attributes</h3blue>
        <textarea name="attributes" style="width:800px; height: 500px;">
[
{
    "name":"urn:mace:dir:attribute-def:mail",
    "value": [
        "test@stepup.example.com"
    ]
},
{
    "name": "http://schemas.microsoft.com/claims/authnmethodsreferences",
    "value": [
        "http://schemas.microsoft.com/claims/multipleauthn"
    ]
}
]
        </textarea>
        <br/><br />

        {% for id, response in responses %}
            {% if response == 'success' %}
                {% set color = 'green' %}
            {% else %}
                {% set color = 'blue' %}
            {% endif %}
            <button name="status" class="button {{ color }}" value="{{ response }}" type="submit">{{ response }}</button>
        {% endfor %}
    </form>
{% endblock body %}
